<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--指定应用名称-->
    <dubbo:application name="service-acl"/>
    <!--配置协议名和端口,如果不配置的话，端口默认为20880-->
    <dubbo:protocol name="dubbo" port="20881"/>
    <!--配置注册中心地址-->
    <dubbo:registry address="zookeeper://localhost:2181" />
    <!--包扫描发布服务-->
    <dubbo:annotation package="com.atguigu"/>
</beans>