<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:annotation package="com.atguigu.controller"/>

    <dubbo:registry address="zookeeper://localhost:2181"/>

    <dubbo:application name="web-front"/>

    <!--启动时候不检查 设置连接超时时间-->
    <dubbo:consumer check="false" timeout="600000"/>
</beans>