<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--注册到zookeeper-->
    <dubbo:registry address="zookeeper://localhost:2181"/>
    <!--应用名-->
    <dubbo:application name="service-user"/>
    <!--协议-->
    <dubbo:protocol name="dubbo" port="20883"/>
    <!--发布服务-->
    <dubbo:annotation package="com.atguigu.service"/>
</beans>